* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 35px 140px 23px 33px;
    align-items: center;
}

.header-logo {
    background: linear-gradient(98.75deg, rgb(94, 76, 179),rgb(157, 97, 255));
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
background-clip:text;
font-family: Montserrat;
font-size: 48px;
font-weight: 800;

}

.header__logo-img {
    display: none;
}


.header-nav ul {
    display: flex;
    column-gap: 27px;
}

.header-nav__link {color: rgb(94, 76, 179);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;}
   
.header-contacts {
    display: flex;
    column-gap: 10px;
}

.header-social__link {
   margin-top: 5px;
   align-self: flex-start;
}
.header-phone{
    display: flex;
    flex-direction: column;
}

.header-phone__number {
    color: rgb(94, 76, 179);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 800;
    
}

.header__work-time {
    color: rgb(94, 76, 179);
font-family: Montserrat;
font-size: 12px;
font-weight: 700;
text-align: right;

}

.header-request{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 800;
   background-color: rgb(157, 97, 255);;
   padding: 23px;
   border-radius: 5px;
   border: none;
}

#hero {
    /* background-image: url(./img/bgimage.png); */
    background-repeat: no-repeat;
    background-image: url(./img/gggg.jpg);
   
    width: 100%;
    padding: 67px 20px 90px 140px;
   background-position: right;
  background-position-y:bottom;
  
  
 
 
   
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text__name {

font-size: 36px;
font-weight: 700;
line-height: 44px;
text-align: left;
width: 653px;
color: rgb(94, 76, 179);
}

.hero-text__name span {
    color:rgb(157, 97, 255) ;
    
}


.hero-text__name-about{
    
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
width: 619px;
margin-top: 33px;
color: rgb(94, 76, 179);

}

.hero-text__name-about span {
    color: rgb(157, 97, 255);
   
}

.hero-button {
    color: rgb(255, 255, 255);
    
    font-size: 12px;
    font-weight: 800;
    line-height: 15px;
    background-color: rgb(157, 97, 255);
    text-align: center;
    width: 280px;
    padding: 22px 78px;
    border-radius: 5px;
    border: none;
    margin-top: 116px;
  
  
}


.hero-text__name-answer{
    font-family: Montserrat;
font-size: 12px;
font-weight: 300;
line-height: 137.4%;

text-align: left;
width: 472px;
margin-top: 20px;
color: rgb(157, 97, 255);


}

.hero-text__name-answer span {
    color: rgb(79, 79, 79);
   
}


.image-vector {
display: flex;

align-self: center;
width: 24px;
margin-top: 95px;
}

#info-block {
    padding: 0 140px 150px 140px;
}

.info-block__title {
    
font-size: 36px;
font-weight: 800;
color:rgb(94, 76, 179);
}

.title-color {
    color: rgb(157, 97, 255);
    font-size: 36px;
font-weight: 800;
}


.info-block__wrapper {
    display: flex;
    gap: 54px 20px;
    margin-top: 54px;
    flex-wrap: wrap;
}
.info-block__card {
    padding: 2px 8px 39px 15px;
    border-radius: 10px;

box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
width: calc(100% / 3 - 20px);


}

.info-block__card-number {
    color: rgb(183, 152, 191);
width: 69px;
font-size: 64px;
font-weight: 700;
line-height: 78px;



}

.info-block__card-title {
    color: rgb(68, 111, 179);

font-size: 14px;
font-weight: 700;
margin-top: 10px;
margin-bottom: 20px;
position: relative;

}


.info-block__card-title::before {
    content: "";
    height: 2px;
    background-color:  rgb(68, 111, 179);
    position: absolute;
    left: 0;
    bottom:-10px ;
    width: 175px;
}
.info-block__card-desc {
    color: rgb(94, 76, 179);

font-size: 12px;
font-weight: 400;
line-height: 15px;


}


.info-block__btn-wrapper {
    margin-top: 51px;
    display: flex;
    justify-content: center;
    

}

.info-block__btn {
    color: rgb(255, 255, 255);

font-size: 12px;
font-weight: 800;
padding: 22px 78px;
border-radius: 5px;

background: rgb(157, 97, 255);
border: none;

}




#information {
    padding: 0px 193px 0px 140px;
    width: 100%;
}


.information-title {
    
font-size: 36px;
font-weight: 800;
line-height: 44px;
color: rgb(94, 76, 179);

}

.information-title span {
    color: rgb(157, 97, 255);
    font-size: 36px;
font-weight: 800;
}


.information-main {
    display: flex;
    margin-top: 59px;
    column-gap: 71px;
}


.information__text-about {
    margin-top: 105px;
    
    
    
}

.information__text-about p {
    margin-bottom:  8px;
    margin-left: 15px;
}

.information__title-img {
    color: rgb(157, 97, 255);

font-size: 18px;
font-weight: 700;
margin-bottom: 17px;

}


.information__text-about p::before {
    content: "";
    height: 9px;
    width: 9px;
    background-color: rgb(94, 76, 179);
    position: absolute;
  border-radius: 50%;
margin-top: 3px;
 margin-left: -15px;
 
  
}


.information__text-desc {
    color: rgb(94, 76, 179);

font-size: 14px;
font-weight: 400;
width: 527px;


}






.information-medium {
    display: flex;
    
    column-gap: 107px;
    flex-direction: row-reverse;
    width: 100%;
   justify-content:start;

}





.information__text-about1 {
    margin-top: 88px;
    
    
}

.information__text-about1 p {
    margin-bottom:  8px;
    margin-left: 15px;
}

.information__text-about1 p::before {
    content: "";
    height: 9px;
    width: 9px;
    background-color: rgb(94, 76, 179);
    position: absolute;
  border-radius: 50%;
margin-top: 3px;
 margin-left: -15px;}
 
  
 .information-medium2 {
    display: flex;
    
    column-gap: 79px;
    

}

.information__text-about2 {
    margin-top: 117px;

    
}
.information__text-about2 p {
    margin-bottom:  8px;
    margin-left: 15px;
}

.information__text-about2 p::before {
    content: "";
    height: 9px;
    width: 9px;
    background-color: rgb(94, 76, 179);
    position: absolute;
  border-radius: 50%;
margin-top: 3px;
 margin-left: -15px;}


 .informattion-btn{
    margin-top: 99px;
    display: flex;
    justify-content: center;
    

}

.information__btn-text {
    color: rgb(255, 255, 255);

font-size: 12px;
font-weight: 800;
padding: 22px 78px;
border-radius: 5px;

background: rgb(157, 97, 255);
border: none;

}




.certificate {
    padding: 150px 140px;
}
 

.certificate__wrapper {
    padding: 26px 20px;

    background-color: rgb(240, 213, 119); ;
    
    border-radius: 10px;
   
    
}

.certificate__conteiner {
    border: 1px solid white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 27px 96px 19px 14px;
   
}

.gold__star-wrapper { position: relative;
}

.gold__star-img {
    position: absolute;
    bottom: -32px;
}

.certificate__block { 
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 0 95px;
}

.certificate__desc-wrapper {
    display: flex;
   
    flex-direction: column;
    
}
.certificate__title {
    width: 90%;
    color: rgb(159, 159, 159);
font-family: Montserrat;
font-size: 12px;
font-weight: 700;
text-align: center;
margin-bottom: 6px;
line-height: 15px;
}


.certificate__desc {
    width: 90%;
    color: rgb(42, 35, 103);
font-family: Montserrat;
font-size: 12px;
font-weight: 700;
margin-bottom: 14px;
text-align: center;

}

.certificate__img {
    width: 100%;
}


.investigate {
    padding: 0 140px;
}

.investigate__title {
    font-family: Montserrat;
font-size: 36px;
font-weight: 800;
line-height: 44px;
color: rgb(94, 76, 179);
text-align: left;
margin-bottom: 66px;
}

.investigate__title span {
    font-family: Montserrat;
font-size: 36px;
font-weight: 800;
line-height: 44px;
color: rgb(157, 97, 255);
}

.investigate__conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 10px ;
}



.investigate__desc-text {
    color: rgb(94, 76, 179);
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 22px;

text-align: left;
margin-bottom: 25px;
}




.stages {
    padding: 119px 140px 0px 141px;
}

.stages__title {
    color: rgb(94, 76, 179);
font-family: Montserrat;
font-size: 36px;
font-weight: 800;
line-height: 44px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 57px;
}


.stages__conteiner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 71px;
    
}


.stages__numbering ul {
    display: grid;
    grid-template-rows: repeat(6, 20px);
    row-gap: 50px;

    
}

.stages__numbering-text {
    color: rgb(94, 76, 179);
font-family: Montserrat;
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
margin-left: 78px;


}

.stages__numbering-text:active {
    color: rgb(157, 97, 255);
    
    

} 

.text-purple {
    color: rgb(157, 97, 255);
}

.stages__numbering-text::before{
    content: "";
    width: 23px;
    height: 23px;
    
    border-radius: 50%;
    background-color:rgb(94, 76, 179);
    position: absolute;
    margin-left: -60px;
    
}


.text-purple::before{
    content: "";
    width: 23px;
    height: 23px;
    
    border-radius: 50%;
    background-color:
    rgb(157, 97, 255);;
    position: absolute;
    margin-left: -60px;
    
}




/* .line::after {
    content: "";
    width: 5px;
    height: 60px;
    border-radius: 2px;
    background-color:rgb(94, 76, 179) ;
    position: absolute;
    margin-right: 50px;
  
} */

.stages__numbering::before {
    content: "";
    width: 5px;
    height: 350px;
    border-radius: 2px;
    background-color:rgb(94, 76, 179) ;
    position: absolute;
   margin-top: 10px;
  margin-left: 27px;

}




.stages__blocks {
    border: 2px solid rgb(254, 254, 254);
    border-radius: 10px;
    box-shadow: 0px 10px 60px 0px rgba(42, 35, 103, 0.15);
    padding: 23px 25px 95px 43px;
    grid-column: 2 / 3;
    margin-bottom: 55px;
  
}


.stages__blocks-caption {
    display: flex;
    margin-bottom: 55px;
    column-gap: 60px;
    
}


.stages__blocks-number {
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0%;
text-align: center;




}

/* .stages__blocks-number::before {
    content: "";
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: rgb(68, 111, 179);
    position: absolute;
    
} */
.oval {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    background-color: rgb(68, 111, 179);
    padding-top: 12px;
}

.stages__block-title {
    color: rgb(94, 76, 179);
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0%;
text-align: left;
margin-top: 11px;
}



.stages__line-blocks {
    width: 582px;
    height: 2px;
    background-color:rgba(235, 235, 235, 0.542);
    
   margin-bottom: 26px;
  
}

.stages__text-main {
    display: grid;
    row-gap: 25px;
    margin-bottom: 15px;
}

.stages__text-about {
    color: rgb(94, 76, 179);
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}


.our__office {
    background-image: url(./img/frontend.png);
    height: 100vh;
    width: 100%;
    margin-top: 150px;
    background-repeat: no-repeat;
    background-size: cover;
}


.feedback {
    padding: 150px 140px 270px 140px;
}

.feedback__container {
    border-radius: 20px;
   background-color: rgb(244, 248, 255); 
   padding: 35px 98px 187px 78px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 0 45px;
   position: relative;
}

.feedback__info-title {
    color: rgb(94, 76, 179);
font-family: Montserrat;
font-size: 36px;
font-weight: 800;
line-height: 44px;
letter-spacing: 0%;
margin-bottom: 86px;
width: 399px;

}

.feedback__info-desc-wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.feedback__info-desc {
    color: rgb(94, 76, 179);
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;

}


.feedback__container-img-cirkle {
    position: absolute;
    left: 510px;
bottom: 140px;
}


.feedback__container-img-cube {
    position: absolute;
    right: 10px;
    bottom: -70px;

}

.feedback__container-img-hand {
    position: absolute;
    left: 0px;
    bottom: 32px;

}


.feedback__container-img-quadro {
    position: absolute;
    left: 351px;
    margin-top: -60px;
}

.feedback__info-desc span {
    color: rgb(82, 48, 255);
font-family: Montserrat;
font-size: 18px;
font-weight: 400;
line-height: 22px;

}




.feedback__form {
    margin-top: 30px;
}


form {
    border-radius: 20px;
    background-color: rgb(157, 97, 255);
    padding: 56px 65px 46px 65px;
    display: flex;
    flex-direction: column;
}


.feedback__form-title {
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 28px;
display: flex;
flex-direction: column;
}

.feedback__form-title a {
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 29px;
letter-spacing: 0%;
text-align: center;
}

.feedback__form-text {
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: center;
margin-bottom: 36px;
}


.feedback__form-name {
 

background-color: rgb(157, 97, 255) ;
border: none;
border-bottom: 2px solid rgb(254, 254, 254);
padding-bottom: 7px;

}

.feedback__form-name::placeholder {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}

.feedback__form-number {


background-color: rgb(157, 97, 255) ;
border: none;
border-bottom: 2px solid rgb(255, 255, 255);
padding-bottom: 7px;
margin-top: 32px;
}

.feedback__form-number::placeholder {
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;

}



.feedback__form-btn {
    color: rgb(157, 97, 255);
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0%;
text-align:center;
padding: 22px 103px;
border-radius: 10px;
margin-top: 31px;
border-color: rgb(255, 255, 255);
background-color: rgb(255, 255, 255);

}


.feedback__form-checkbox-wrapper {
    margin-top: 20px;
    text-align: center;
}

.feedback__form-checkbox-text {
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;
    letter-spacing: 0%;
    text-align: center;
    color:  rgb(255, 255, 255);
    margin-left: 7px;

}


.feedback__form-checkbox-text span {
    color: rgb(62, 61, 64)
   ;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 400;
    line-height: 15px;

}





.footer {
    background-color: rgb(94, 76, 179);
}

.footer__conteiner {
    padding: 75px 140px 58px 140px;
    
}

.footer__connection {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns:  1fr 1fr;
   
   
   
}



.footer__connection-mail {
    grid-row: 2/3;
    grid-column: 1/2;
}


.footer__connection-messege {
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 36px;
font-weight: 700;
line-height: 44px;
letter-spacing: 0%;
text-align: left;

}

.footer__connection-mail {
    color: rgb(157, 97, 255);
font-family: Montserrat;
font-size: 48px;
font-weight: 700;
line-height: 59px;
letter-spacing: 0%;
text-align: left;

}


.footer__connection-btn {
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 14px;
font-weight: 700;
line-height: 17px;
letter-spacing: 0%;
text-align: center;
padding: 22px 108px 21px 108px;
background-color: rgb(157, 97, 255);
border-radius: 10px;
border: none;
width: 341px;

grid-row: 2/3;
grid-column: 3/4;
justify-items: end;
}


.footer__line {
   background-color: rgb(97, 159, 255); 
height: 2px;
margin-top: 32px;
}


.footer__inform {
    margin-top: 45px ;
    

}


.footer__inform-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 24px;
}

.footer__inform-tel {
    grid-column: 1/2;
    grid-row: 2/3;
    
    
}
.footer__images {
    grid-column: 3;
    grid-row: 1/2;
   
}





.footer__inform-city {
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0%;
text-align: left;

}



.footer__inform-tel {
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 18px;
font-weight: 700;
line-height: 22px;
letter-spacing: 0%;
text-align: left;

}

.footer__end-title {
    background: linear-gradient(98.75deg, rgb(94, 76, 179),rgb(255, 255, 255),rgb(157, 97, 255));
-webkit-background-clip:
text;
-webkit-text-fill-color:
transparent;
background-clip:
text;

font-family: Montserrat;
font-size: 48px;
font-weight: 800;
line-height: 59px;
letter-spacing: 7%;
text-align: left;

}

.footer__end-desc {
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: left;

}

.footer__end-text {
    color: rgb(255, 255, 255);
font-family: Montserrat;
font-size: 12px;
font-weight: 400;
line-height: 15px;
letter-spacing: 0%;
text-align: left;

}




.footer__end {
    display: flex;
    flex-direction: column;
    align-items: center;
}





/* БУРГЕР МЕНЮ */

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
   
    z-index: 2;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 4px;
    background-color: blueviolet;
    left: 5px;
    transition: transform.3s , opacity.3s , background-color.3s;
}


.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}


.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateX(0) rotate(-45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateX(0) rotate(45deg);
}


@media (max-width: 900px) {



  

    .header-logo {
        display: none;
    }

    .header__logo-img {
        display: block;
    }
    
    .header__burger-btn {
        display: block;
    }
    .header-nav {
        position: absolute;
        left: -100%;
        top: 0;
        background-color: rgb(210, 114, 114);
        width: 100%;
        height: 100%;
        padding: 100px;
        transition: transform.5s;
    }
    
    .header-nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 20px;
    
    }

.header-nav__link {
    font-size: 18px;
}






.header.open .header-nav {
    transform: translateX(100%);
}

.header-contacts img {
    display: none;

}
.header-phone {
    display: none;
}

.header__btn-text {
    display: none;
}


.header-request {
    display: block;
    background-image: url(./img/iconmobile.png);
    width: 30px;
    height: 30px;
    /* background-size: cover; */
  
}
}



