* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

#header {
    display: flex;
    justify-content: space-between;
    padding: 35px 140px 23px 33px;
    align-items: center;
}

.header-logo {
    background: linear-gradient(98.75deg, rgb(94, 76, 179),rgb(157, 97, 255));
-webkit-background-clip:text;
-webkit-text-fill-color:transparent;
background-clip:text;
font-family: Montserrat;
font-size: 48px;
font-weight: 800;

}

.header-nav ul {
    display: flex;
    column-gap: 27px;
}

.header-nav__link {color: rgb(94, 76, 179);
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 700;}
   
.header-contacts {
    display: flex;
    column-gap: 10px;
}

.header-social__link {
   margin-top: 5px;
   align-self: flex-start;
}
.header-phone{
    display: flex;
    flex-direction: column;
}

.header-phone__number {
    color: rgb(94, 76, 179);
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 800;
    
}

.header__work-time {
    color: rgb(94, 76, 179);
font-family: Montserrat;
font-size: 12px;
font-weight: 700;
text-align: right;

}

.header-request{
    color: rgb(255, 255, 255);
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 800;
   background-color: rgb(157, 97, 255);;
   padding: 23px;
   border-radius: 5px;
   border: none;
}

#hero {
    /* background-image: url(./img/bgimage.png); */
    background-repeat: no-repeat;
    background-image: url(./img/gggg.jpg);
   
    
    padding: 67px 20px 90px 140px;
   background-position: right;
  background-position-y:bottom;
  
  
 
 
   
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text__name {

font-size: 36px;
font-weight: 700;
line-height: 44px;
text-align: left;
width: 653px;
color: rgb(94, 76, 179);
}

.hero-text__name span {
    color:rgb(157, 97, 255) ;
    
}


.hero-text__name-about{
    
font-size: 16px;
font-weight: 700;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
width: 619px;
margin-top: 33px;
color: rgb(94, 76, 179);

}

.hero-text__name-about span {
    color: rgb(157, 97, 255);
   
}

.hero-button {
    color: rgb(255, 255, 255);
    
    font-size: 12px;
    font-weight: 800;
    line-height: 15px;
    background-color: rgb(157, 97, 255);
    text-align: center;
    width: 280px;
    padding: 22px 78px;
    border-radius: 5px;
    border: none;
    margin-top: 116px;
  
  
}


.hero-text__name-answer{
    font-family: Montserrat;
font-size: 12px;
font-weight: 300;
line-height: 137.4%;

text-align: left;
width: 472px;
margin-top: 20px;
color: rgb(157, 97, 255);


}

.hero-text__name-answer span {
    color: rgb(79, 79, 79);
   
}


.image-vector {
display: flex;

align-self: center;
width: 24px;
margin-top: 95px;
}

#info-block {
    padding: 0 140px 150px 140px;
}

.info-block__title {
    
font-size: 36px;
font-weight: 800;
color:rgb(94, 76, 179);
}

.title-color {
    color: rgb(157, 97, 255);
    font-size: 36px;
font-weight: 800;
}


.info-block__wrapper {
    display: flex;
    gap: 54px 20px;
    margin-top: 54px;
    flex-wrap: wrap;
}
.info-block__card {
    padding: 2px 8px 39px 15px;
    border-radius: 10px;

box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
background: rgb(255, 255, 255);
width: calc(100% / 3 - 20px);


}

.info-block__card-number {
    color: rgb(183, 152, 191);
width: 69px;
font-size: 64px;
font-weight: 700;
line-height: 78px;



}

.info-block__card-title {
    color: rgb(68, 111, 179);

font-size: 14px;
font-weight: 700;
margin-top: 10px;
margin-bottom: 20px;
position: relative;

}


.info-block__card-title::before {
    content: "";
    height: 2px;
    background-color:  rgb(68, 111, 179);
    position: absolute;
    left: 0;
    bottom:-10px ;
    width: 175px;
}
.info-block__card-desc {
    color: rgb(94, 76, 179);

font-size: 12px;
font-weight: 400;
line-height: 15px;


}


.info-block__btn-wrapper {
    margin-top: 51px;
    display: flex;
    justify-content: center;
    

}

.info-block__btn {
    color: rgb(255, 255, 255);

font-size: 12px;
font-weight: 800;
padding: 22px 78px;
border-radius: 5px;

background: rgb(157, 97, 255);
border: none;

}




#information {
    padding: 0px 193px 0px 140px;
    width: 100%;
}


.information-title {
    
font-size: 36px;
font-weight: 800;
line-height: 44px;
color: rgb(94, 76, 179);

}

.information-title span {
    color: rgb(157, 97, 255);
    font-size: 36px;
font-weight: 800;
}


.information-main {
    display: flex;
    margin-top: 59px;
    column-gap: 71px;
}


.information__text-about {
    margin-top: 105px;
    
    
    
}

.information__text-about p {
    margin-bottom:  8px;
    margin-left: 15px;
}

.information__title-img {
    color: rgb(157, 97, 255);

font-size: 18px;
font-weight: 700;
margin-bottom: 17px;

}


.information__text-about p::before {
    content: "";
    height: 9px;
    width: 9px;
    background-color: rgb(94, 76, 179);
    position: absolute;
  border-radius: 50%;
margin-top: 3px;
 margin-left: -15px;
 
  
}


.information__text-desc {
    color: rgb(94, 76, 179);

font-size: 14px;
font-weight: 400;
width: 527px;


}






.information-medium {
    display: flex;
    
    column-gap: 107px;
    flex-direction: row-reverse;
    width: 100%;
   justify-content:start;

}





.information__text-about1 {
    margin-top: 88px;
    
    
}

.information__text-about1 p {
    margin-bottom:  8px;
    margin-left: 15px;
}

.information__text-about1 p::before {
    content: "";
    height: 9px;
    width: 9px;
    background-color: rgb(94, 76, 179);
    position: absolute;
  border-radius: 50%;
margin-top: 3px;
 margin-left: -15px;}
 
  
 .information-medium2 {
    display: flex;
    
    column-gap: 79px;
    

}

.information__text-about2 {
    margin-top: 117px;

    
}
.information__text-about2 p {
    margin-bottom:  8px;
    margin-left: 15px;
}

.information__text-about2 p::before {
    content: "";
    height: 9px;
    width: 9px;
    background-color: rgb(94, 76, 179);
    position: absolute;
  border-radius: 50%;
margin-top: 3px;
 margin-left: -15px;}


 .informattion-btn{
    margin-top: 99px;
    display: flex;
    justify-content: center;
    

}

.information__btn-text {
    color: rgb(255, 255, 255);

font-size: 12px;
font-weight: 800;
padding: 22px 78px;
border-radius: 5px;

background: rgb(157, 97, 255);
border: none;

}